.event {
    min-height: 400px;
}

.event__preview {
    display: flex;
    flex-direction: row;
    margin-block-end: var(--space-xxl);
}

.event__preview :first-child {
    margin-inline-end: var(--space-xs);
}

.event__title {
    margin-block-end: var(--space-s);
}

.event__title .text__word {
    position: relative;
    bottom: 3px;
}

.event__description .text__word {
    position: relative;
    bottom: 1px;
}

.event__footer {
    width: 100%;
}

.event__footer .text__word {
    position: relative;
    bottom: 2px;
}
