.header {
    padding-block-start: var(--space-xxxl);
    padding-block-end: var(--space-xxxl);

    padding-inline-start: var(--gap);
    padding-inline-end: var(--gap);
}

.header__content {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 179px;
    height: 34px;
    background-color: var(--color-text-primary);
}
