.history {
    border: 3px solid var(--color-bg-border);
}

.history__transaction {
    cursor: pointer;
}

.history__show {
    width: 100%;
    justify-content: space-between;

    margin-block-start: 0;
}

.history__details {
    display: flex;
    flex-direction: row;
}

.history__time {
    align-self: center;
}

.history__hide {
    display: none;
}

.history__actions {
    margin-block-end: 0;
}
