.product {
    min-height: 300px;
    border: 3px solid var(--color-bg-border);
}

.product__title {
    margin-block-end: var(--space-xxxl);
}

.product__image {
    height: 160px;
}

.product__image .image {
    border-color: var(--color-bg-default);
}
