.warning {
    min-height: 335px;
}

.warning .placeholder {
    margin-block-start: var(--space-m);
    margin-block-end: var(--space-m);
}

.warning__button-wrapper {
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {

    .warning {
        min-height: 316px;
        margin-inline-end: calc(-4 * var(--gap));
    }
}
