.warning {
    min-height: 335px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.warning .placeholder {
    margin-block-start: var(--space-m);
    margin-block-end: var(--space-m);
}

@media screen and (max-width: 1024px) {

    .warning {
        margin-inline-end: calc(-4 * var(--gap));
    }
}
