.image {
    width: 100%;
    height: 100%;

    border: 3px solid var(--color-bg-border);
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-bg-default);
    
    background-image: url(./img/image-placeholder-primary.svg);
}

.theme_color_project-brand  .image,
.theme_color_project-inverse > .image {
    background-image: url(./img/image-placeholder-inverse.svg);
}

.theme_color_project-default > .image {
    background-image: url(./img/image-placeholder-primary.svg);
}
