.placeholder {
    background-color: var(--color-text-primary);
}

.placeholder_size_m {
    width: 72px;
    height: 72px;
}

.placeholder_view_primary {
    background-color: var(--color-text-primary);
}
